div.sidemenu-ui {
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.v-image-side-menu-logo{
	border-radius:100%;
	text-align:center;
}